.venv
.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
.httr-oauth
.Ruserdata
.Renviron
.DS_Store
.env
.secrets
.jrtemplate.yml
.Rproj.user

config-uat.yml
rsconnect-python
inst/extdata/report/report\.html
inst/extdata/report/report\.md
inst/doc
po/*~
rsconnect/
vignettes/*.html
vignettes/*.pdf

*_cache/
/cache/
*.utf8.md
*.knit.md
*_files/
*.env
*.swp
config-uat-rsc.yml
output\.rds
